* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    /* color: lightgray; */
    margin-bottom: 10px;
    text-align: center;
}

body {
    background-color: rgba(54, 53, 53, 0.863);
    color: lightgray;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* position: relative; */
    margin: auto;
    max-width: 400px;
    width: 100%;
    border-radius: 12px;
    background-color: rgba(54, 53, 53, 0.863);
    padding: 10px 20px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0 , 0.5);
}

#display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    min-height: 50px;
    border: none;
    border-radius: 15px;
    font-weight: bolder;
    background: transparent;
    color: #fff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.btns {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        margin: 10px;
        padding: 5px 15px 2px 15px;

}

.btn {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /* margin: 10px; */

}

.btn-equal {
    grid-column: span 2 ;
    width: 100%;
}